<div class="col col-10 offset-1 col-md-7 offset-md-5 col-lg-5 offset-lg-6 border loginContainer mt-5">
    <div class="form-group text-center mt-3">
        <h3>MessageApp</h3>
        <h6>Welcome back!</h6>
        <hr>
    </div>
    <div class="col col-10 offset-1">
        <form
        *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit(useremail.value, password.value)"
        #f="ngForm"
        novalidate>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email"
                required minlength="3" maxlength="20" #useremail placeholder="Email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password"
                required minlength="3" #password placeholder="Password">
            </div>
            <div class="form-group mt-4 mb-4">
                <button class="btn btn-dark btn-block">Sign In</button>
            </div>
        </form>
    </div>
</div>
<div class="col col-10 offset-1 col-md-7 offset-md-5 col-lg-5 offset-lg-6 text-center mt-2">
    <a routerLink="../register" class="text-dark">Don't have an account? Create one!</a>
</div>
<div class="col col-10 offset-1 col-md-7 offset-md-5 col-lg-5 offset-lg-6 text-center alert alert-info mt-2" role="alert">
    <p>Test users</p>
    <p>
        Email: john@smith.com; allan@poe.com
        <br>
        Password: Test123
    </p>
    <p>Or Sign up with your own e-mail!</p>
</div>
<div class="col col-10 offset-1 col-md-7 offset-md-5 col-lg-5 offset-lg-6 text-center">
    <a href="https://github.com/marispulk/MessageApp" target="_blank" class="text-muted">Check out this code at GitHub</a>
</div>

