<div class="row h-100 border-right userContainer">
    <!-- User avatar -->
    <div class="col-12 mb-auto mt-3">
        <img src="https://as1.ftcdn.net/jpg/01/43/87/62/500_F_143876235_kEJ8vEa8YeuUfuIE6E6XPYAARTIPbVHC.jpg"
        alt="Chat logo" class="img-thumbnail-custom rounded-circle" height="50" width="50">
    </div>
    <div class="col-12 mt-auto mb-5">
        <!-- Feebback button -->
        <div class="mb-3">
            <small><i class="fas fa-comment-alt fa-1x text-light d-flex justify-content-center mb-1"></i></small>
            <p class="d-flex justify-content-center text-light"><small>Feedback</small></p>
        </div>
        <div>
            <!-- Settings button -->
            <small><i class="fas fa-cogs fa-1x text-light d-flex justify-content-center mb-1"></i></small>
            <p class="d-flex justify-content-center text-light"><small>Settings</small></p>
        </div>
    </div>
</div>
