.chatListContainer {
    background-color: #E6E6E9;
}

.messageContainer {
    background-color: #E9E3E6;
}

.underline{
    text-decoration: none;
}

.overflow {
    /* Hide horizontal scrollbar */
    overflow-x: hidden;
    /* Add vertical scrollbar */
    overflow-y: auto;
}

.dropdown-menu{
    min-width: 3rem;
}